.field {
	position: relative;
	margin-bottom: 16px;
}

.input {
	background: #2e303a;
	border: 1px solid #3b3c44;
	padding: 25px 15px 8px;
	border-radius: 10px;
	width: 100%;
	height: 56px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 18px;
	line-height: 26px;
	outline: 0;
	color: #f2f3f9;

	&:hover {
		border-color: #247fff;
	}

	&:focus-visible {
		border-color: #247fff;
		padding-left: 15px;
		padding-right: 15px;
		background: #18191e;
	}
}

.label {
	color: #7f818f;
    position: absolute;
    left: 16px;
    padding: 0;
    top: 15px;
    font-size: 18px;
    line-height: 26px;
    transition: top 0.1s ease;
    pointer-events: none;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 56px);
    z-index: 1;
}

.label_active {
	z-index: 10;
	top: 4px;
	font-size: 14px;
	line-height: 24px;
}

.errorText {
	display: grid;
	color: #ea4353;
	transition: grid-template-rows .6s ease;
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;

	& > div {
		min-height: 0;
		line-height: 32px;
	}
}

.errorText_active {
	grid-template-rows: 1fr;
}